.cards  {
    padding: 50px 50px 115px 40px;
    border-radius: 15px;
    box-shadow: var(--shadow);
    margin-bottom: 135px;

    &__caption {
        @include font(6rem, 900, var(--color-grey-light));
        margin-bottom: 115px;
    }

    &__text {
        @include font(3rem, 100, var(--color-blue));
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-color: var(--color-blue);
            height: 4px;
            width: 75px;
            bottom: 110px;
            border-radius: 20px;
        } 
    }
}